node-linker=hoisted
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
registry=https://registry.npmjs.org/
legacy-peer-deps=false
strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependencies=true
resolution-mode=highest
