# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# next.js
.next/
/out/

# production
/build

# virtual environment
.venv/

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env
.env.local
.env.production

# typescript
*.tsbuildinfo
next-env.d.ts

# Celery
backend/celerybeat-schedule
backend/celerybeat-schedule-shm
backend/celerybeat-schedule-wal

# Logs
backend/logs/*.log
frontend/logs/*.log
logs/*.log

.nx/cache
.nx/workspace-data

__pycache__/

.pytest_cache/
.ruff_cache/
.nx/
